.BasicSkill {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('https://images.ctfassets.net/2y9b3o528xhq/5YhXXuS0hIw6JV3nJr3GgP/682bf2a70a98c3e466f26c2c2a812d65/front-end-web-developer-nanodegree--nd001.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.BasicSkill-content {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
}

.element {
    padding: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    -webkit-box-shadow:2px 4px 8px rgba(0, 0, 0, 0.5), 10px 20px 40px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow:2px 4px 8px rgba(0, 0, 0, 0.5), 10px 20px 40px rgba(0, 0, 0, 0.3) inset;
    box-shadow:2px 4px 8px rgba(0, 0, 0, 0.5), 10px 20px 40px rgba(0, 0, 0, 0.3) inset;
    margin: 1rem;
}

.el-1 {
    background-color: #d9534f;
    animation: move 30s linear infinite alternate;
    -webkit-animation: move 30s linear infinite alternate;
}

.el-2 {
    background-color: #0275d8;
    animation: movee 30s linear infinite alternate;
    -webkit-animation: movee 30s linear infinite alternate;
}

.el-3 {
    background-color: #f0ad4e;
    animation: moveee 30s linear infinite alternate;
    -webkit-animation: moveee 30s linear infinite alternate;
}

@keyframes move {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    25% {
        transform: translate(20px, 0);
        -webkit-transform: translate(20px, 0);
        -moz-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -o-transform: translate(20px, 0);
    }

    50% {
        transform: translate(30px, 20px);
        -webkit-transform: translate(30px, 20px);
        -moz-transform: translate(30px, 20px);
        -ms-transform: translate(30px, 20px);
        -o-transform: translate(30px, 20px);
    }

    75% {
        transform: translate(10px, 30px);
        -webkit-transform: translate(10px, 30px);
        -moz-transform: translate(10px, 30px);
        -ms-transform: translate(10px, 30px);
        -o-transform: translate(10px, 30px);
    }

    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
}

@keyframes movee {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    25% {
        transform: translate(10px, 0);
        -webkit-transform: translate(10px, 0);
        -moz-transform: translate(10px, 0);
        -ms-transform: translate(10px, 0);
        -o-transform: translate(10px, 0);
}

    50% {
        transform: translate(10px, 20px);
        -webkit-transform: translate(10px, 20px);
        -moz-transform: translate(10px, 20px);
        -ms-transform: translate(10px, 20px);
        -o-transform: translate(10px, 20px);
}

    75% {
        transform: translate(10px, 20px);
        -webkit-transform: translate(10px, 20px);
        -moz-transform: translate(10px, 20px);
        -ms-transform: translate(10px, 20px);
        -o-transform: translate(10px, 20px);
}

    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
}

@keyframes moveee {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    25% {
        transform: translate(-20px, 0);
        -webkit-transform: translate(-20px, 0);
        -moz-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -o-transform: translate(-20px, 0);
}

    50% {
        transform: translate(-30px, -20px);
        -webkit-transform: translate(-30px, -20px);
        -moz-transform: translate(-30px, -20px);
        -ms-transform: translate(-30px, -20px);
        -o-transform: translate(-30px, -20px);
}

    75% {
        transform: translate(-10px, -30px);
        -webkit-transform: translate(-10px, -30px);
        -moz-transform: translate(-10px, -30px);
        -ms-transform: translate(-10px, -30px);
        -o-transform: translate(-10px, -30px);
}

    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
}